{% extends "base.html" %}
{% block head %}

	<link rel="stylesheet" type="text/css" href="static/css/msa.css"></link>

	<script src="static/js/msa.js" type="text/javascript"></script>

{% endblock %}
{% block body %}
	<div id="main">
		<form id="alignForm" method="POST" action="#" onsubmit="submitAlignJob(); return false;" class="align_form">
			<fieldset>
				<p>Enter two or more protein sequences in <em>FastA</em> format</p>
				<textarea name="input" rows="5" cols="72"></textarea>
				<div><input type="submit" name="Align" value="Align" class="submit" style="float:right;"/></div>
			</fieldset>
		</form>

		<div id="waiting" style="display:none">
			<img src="static/images/wait20.gif"></img>
		</div>
		
		<div id="result" style="display:none; margin-top: 10px;">
			<div class="nav">
				<ul>
					<li>
<!--						<input type="button" onclick="toggleClustalColors();" value="Hide colours" class="submit" />-->
						<a href="#" id="msa_show_hide_button" onclick="toggleClustalColors();">hide colours</a>
					</li>
					<li>
<!--						<input type="button" onclick="toggleClustalWrap();" value="Show unwrapped" class="submit" />-->
						<a href="#" id="msa_wrap_button" onclick="toggleClustalWrap();">show unwrapped</a>
					</li>
				</ul>
			</div>
			<div class="msa" id="alignment">
				<div id="wrapped"></div>
				<div id="unwrapped" style="display:none"></div>
			</div>
		</div>
	</div>
{% endblock %}
