{% extends "base.html" %}
{% block head %}
    <script src="static/js/format.js" type="text/javascript">
    </script>

    {% if db in databank_formats %}
        <script type="text/javascript" src="formats/{{ databank_formats[db] }}.js"></script>
    {% endif %}

    <script type="text/javascript">
        Format.db = '{{ db }}';
        Format.id = '{{ q }}';
    </script>

{% endblock %}
{% block body %}
        <div class="nav">
            <ul>
                <li>
                    View
                    <form id="downloadForm" action="download">
                        <select id="formatSelector" name="format">
                            <option value="entry" disabled="disabled">Entry</option>
                            <option value="plain" selected="selected">Plain text</option>
                            <option value="fasta" {% if fasta|length == 0 %} disabled="disabled" {% endif %}>FastA</option>
                        </select>
                    </form>
                </li>
                <mrs:if test="${not mobile}">
                <li>
                    <form id="similarForm" method="get" action="similar">
                        <input type="hidden" name="db" value="${db}" />
                        <input type="hidden" name="nr" value="${nr}" />
                        <input type="button" name="similar" value="Find Similar"
                               onclick="document.getElementById('similarForm').submit();" class="submit" />
                    </form>
                </li>
                <li>
                    <form id="blastForm" method="post" action="blast">
                        <input type="hidden" name="db" value="${db}" />
                        <input type="hidden" name="nr" value="${nr}" />
                        <input type="submit" name="blast" value="Blast" class="submit" z2:disabled="${not blastable}" />
                    </form>
                </li>
                <li>
                    <input value="Download" type="button" class="submit" onclick="document.getElementById('downloadForm').submit();" />
                </li>
                </mrs:if>
                <li class="linksource">
                    source: <a href="${databank.url}">${db}</a>
                </li>
                <mrs:if test="${not mobile}">

                {% if links|length > 0 %}
                    <li>
                        <span class="reference" style="padding-left:4px;">
                            <span class="reference-label">References:</span>
                            <mrs:iterate collection="${links}" var="link">
                                <a href="linked?s=${db}&amp;d=${link}&amp;nr=${nr}">${link}</a>
                            </mrs:iterate>
                        </span>
                    </li>
                {% endif %}
                </mrs:if>
            </ul>
        </div>

        <div id="data">
            <pre class="highlightwords entry" id="entrytext" >{{ text }}</pre>
            <div id="entryhtml" class="highlightwords entry" style="display:none"></div>
            <pre id="entryfasta" style="display:none">{{ fasta }}</pre>
        </div>
{% endblock %}
