{% extends "dashboard/base.html" %}
{% block body %}
	<div id="main">

        <table xmlns="http://www.w3.org/1999/xhtml" cellpadding="0" cellspacing="0"
            class="list" id="tabel" style="position:relative;">

				<caption>Results for query {{ query }} </caption>
				<thead>
					<tr>
						<th>Databank</th>
						<th>Hits</th>
						<th>ID</th>
						<th if="true">Relevance</th>
						<th>Title</th>
					</tr>
				</thead>

                {% for result in results %}
                    <tbody>
                        {% for hit in result.hits %}
                            {% if loop.index <= 5 %}
                                <tr>
                                    <td>{% if loop.index == 1 %} {{ result.db }} {% endif %}</td>
                                    <td>{% if loop.index == 1 %} {{ result.count }} {% endif %}</td>
                                    <td><a href="entry?db=pdbfinder&amp;nr=3&amp;q={{ hit.id }}">{{ hit.id }}</a></td>
                                    <td><img alt="" height="7" src="static/images/pixel-red.png" style="padding-top:4px" width="{{ (100 * hit.score)|round }}"/></td>
                                    <td>{{ hit.title }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                {% endfor %}
		</table>
	</div>
{% endblock %}
